!!! 5
html(lang='en')
head
	include ../head
body 
	include ../navbar
	.container
		.row
			.col-xs-2
				include side-navbar
			.col-xs-7
				.row
					.col-xs-3
						.form-group(id = 'company_image')
							img.img-rounded(src='data:image/png;base64,', data-src='holder.js/125x100', alt='Generic placeholder image', id = 'company_image', data-placement='left', data-container = 'body', data-content="For a company image, simply fill out your facebook page information below and we will load your page's profile picture.", data-trigger = 'manual')
					.col-xs-9
						.form-group(id = 'company_title_gp')
							if (company)
								input.form-control.input-lg(placeholder='Company name', id = 'company_title', value = '#{company.name}')
							else
								input.form-control.input-lg(placeholder='Company name', id = 'company_title', data-placement='bottom', data-container = 'body', data-content="Welcome to Startup Cloud, where you can start, invest in, and join startups. Fill in your company's name to get started. This is a required field.", data-trigger = 'manual')
						.form-group(id = 'slogan_gp')	
							if (company && company.slogan != '')
								input.form-control(placeholder='Company slogan', id = 'slogan', value = '#{company.slogan}')
							else 
								input.form-control(placeholder='Company slogan', id = 'slogan', data-placement='right', data-container = 'body', data-content="Place your company's witty slogan right here. Leave blank if you don't have one.", data-trigger = 'manual')	
				.row
					.col-xs-12
						.form-group(id = 'description_gp')
							if (company && company.description != '')
								textarea.form-control(placeholder = 'Description', rows = '3', id = 'description') #{company.description}
							else
								textarea.form-control(rows = '3', placeholder = 'Description', id = 'description', data-placement='right', data-container = 'body', data-content="A concise description of the services, goals, and objectives of your company.", data-trigger = 'manual')
				.row
					.col-xs-6
						.input-group(id = 'website_gp')
							span.input-group-addon http://
							if (company && company.website != '')
								input.form-control(placeholder='website', type='text', id = 'website', value = '#{company.website}')
							else
								input.form-control(type='text', placeholder='website', id = 'website', data-placement='right', data-container = 'body', data-content="Link to the front page of your company's website. Leave blank if you don't have one.", data-trigger = 'manual')
						.input-group(id = 'facebook_gp')
							span.input-group-addon https://facebook.com/
							if (company && company.fb_page != '')
								input.form-control(placeholder='facebook', type='text', id = 'facebook', value = '#{company.fb_page}')
							else
								input.form-control(type='text', placeholder='facebook', id = 'facebook', data-placement='right', data-container = 'body', data-content="Link to your facebook page's vanity URL. Leave blank if you don't have one.", data-trigger = 'manual')
						.input-group(id = 'twitter_gp')
							span.input-group-addon @
							if (company && company.twitter != '')
								input.form-control(placeholder='twitter', type='text', id = 'twitter', value = '#{company.twitter}')
							else
								input.form-control(type='text', placeholder='twitter', id = 'twitter', data-placement='right', data-container = 'body', data-content="Link to your company's twitter account. Leave blank if you don't have one.", data-trigger = 'manual')
						.input-group(id = 'blog_gp')
							span.input-group-addon http://
							if (company && company.blog != '')
								input.form-control(placeholder='blog', type='text', id = 'blog', value = '#{company.blog}')
							else
								input.form-control(type='text', placeholder='blog', id = 'blog', data-placement='right', data-container = 'body', data-content="Link to your company's twitter account. Leave blank if you don't have one.", data-trigger = 'manual')
						.form-group(id = 'industry_gp')	
							if (company && company.category)
								input(id = 'industry_value', value = '#{company.category}', style = 'display:none;')
							select.form-control(id = 'industry', data-placement='right', data-container = 'body', data-content="Select the industry your company falls under. If your company falls under multiple, choose one. Leave blank if you don't have one.", data-trigger = 'manual')
								// taken from harvard business school - http://hbswk.hbs.edu/industries/
								option(value = 'Select Industry') Select Industry
								option(value = 'Agriculture') Agriculture
								option(value = 'Accounting') Accounting
								option(value = 'Advertising') Advertising
								option(value = 'Aerospace') Aerospace
								option(value = 'Aircraft') Aircraft
								option(value = 'Airline') Airline
								option(value = 'Apparel & Accessories') Apparel & Accessories
								option(value = 'Automotive') Automotive
								option(value = 'Banking') Banking
								option(value = 'Broadcasting') Broadcasting
								option(value = 'Biotechnology') Biotechnology
								option(value = 'Call Centers') Call Centers
								option(value = 'Cargo Handling') Cargo Handling
								option(value = 'Chemical') Chemical
								option(value = 'Computer') Computer
								option(value = 'Consulting') Consulting
								option(value = 'Consumer Products') Consumer Products
								option(value = 'Cosmetics') Cosmetics
								option(value = 'Defense') Defense
								option(value = 'Department Stores') Department Stores
								option(value = 'Education') Education
								option(value = 'Electronics') Electronics
								option(value = 'Energy') Energy
								option(value = 'Entertainment & Leisure') Entertainment & Leisure
								option(value = 'Executive Search') Executive Search
								option(value = 'Financial Services') Financial Services
								option(value = 'Food, Beverage, & Tobacco') Food, Beverage, & Tobacco
								option(value = 'Grocery') Grocery
								option(value = 'Health Care') Health Care
								option(value = 'Internet Publishing') Internet Publishing
								option(value = 'Investment Banking') Investment Banking
								option(value = 'Legal') Legal
								option(value = 'Manufacturing') Manufacturing
								option(value = 'Motion Picture & Video') Motion Picture & Video
								option(value = 'Music') Music
								option(value = 'Newspaper Publishers') Newspaper Publishers
								option(value = 'Online Auctions') Online Auctions
								option(value = 'Pension Funds') Pension Funds
								option(value = 'Pharmaceuticals') Pharmaceuticals
								option(value = 'Private Equity') Private Equity
								option(value = 'Publishing') Publishing
								option(value = 'Real Estate') Real Estate
								option(value = 'Retail & Wholesale') Retail & Wholesale
								option(value = 'Securities & Commodity Exchanges') Securities & Commodity Exchanges
								option(value = 'Service') Service
								option(value = 'Soap & Detergent') Soap & Detergent
								option(value = 'Software') Software
								option(value = 'Sports') Sports
								option(value = 'Technology') Technology
								option(value = 'Telecommunications') Telecommunications
								option(value = 'Television') Television
								option(value = 'Transportation') Transportation
								option(value = 'Venture Capital') Venture Capital
					.col-xs-6
						.input-group(id = 'phone_gp')
							span.input-group-addon.glyphicon.glyphicon-earphone
							if (company && company.phone != '')
								input.form-control(placeholder='phone', type='tel', id = 'phone', value = '#{company.phone}')
							else
								input.form-control(type='tel', placeholder='phone', id = 'phone', data-placement='right', data-container = 'body', data-content="Enter your company's contact phone number. Leave blank if you don't have one.", data-trigger = 'manual')
						.input-group(id = 'email_gp')
							span.input-group-addon.glyphicon.glyphicon-envelope
							if (company && company.email != '')
								input.form-control(placeholder='email', type='email', id = 'email', value = '#{company.email}')
							else
								input.form-control(type='email', placeholder='email', id = 'email', data-placement='right', data-container = 'body', data-content="Enter your company's contact email. This is a required field.", data-trigger = 'manual')
						.input-group(id = 'founded_gp')
							span.input-group-addon Founded
							if (company && company.founded != '')
								input.form-control(placeholder='year', type='text', id = 'founded', value = '#{company.founded}')
							else
								input.form-control(type='text', placeholder='year', id = 'founded', data-placement='right', data-container = 'body', data-content="Enter the year your company was founded. This is a required field.", data-trigger = 'manual')
						.input-group(id = 'address_gp')
							span.input-group-addon Address
							if (company && company.address != '')
								input.form-control(placeholder='address', type='text', id = 'address', value = '#{company.address}')
							else
								input.form-control(type='text', placeholder='address', id = 'address', data-placement='right', data-container = 'body', data-content="Enter your company's address. Leave blank if you don't have one.", data-trigger = 'manual')
						.input-group(id = 'city_gp')
							span.input-group-addon City
							if (company && company.city != '')
								input.form-control(placeholder='city', type='text', id = 'city', value = '#{company.city}')
							else
								input.form-control(type='text', placeholder='city', id = 'city', data-placement='right', data-container = 'body', data-content="Enter your company's city. Leave blank if you don't have one.", data-trigger = 'manual')
						.input-group(id = 'state_gp')
							span.input-group-addon State
							if (company && company.state != '')
								input.form-control(placeholder='state', type='text', id = 'state', value = '#{company.state}')
							else
								input.form-control(type='text', placeholder='state', id = 'state', data-placement='right', data-container = 'body', data-content="Enter your company's state. Leave blank if you don't have one.", data-trigger = 'manual')
						.input-group(id = 'country_gp')
							span.input-group-addon Country
							if (company && company.country != '')
								input.form-control(placeholder='country', type='text', id = 'country', value = '#{company.country}')
							else
								input.form-control(type='text', placeholder='country', id = 'country', data-placement='right', data-container = 'body', data-content="Enter your company's address. This is a required field.", data-trigger = 'manual')
						.input-group(id = 'zip_gp')
							span.input-group-addon Zip
							if (company && company.zip != '')
								input.form-control(placeholder='zip', type='text', id = 'zip', value = '#{company.zip}')
							else
								input.form-control(type='text', placeholder='zip', id = 'zip', data-placement='right', data-container = 'body', data-content="Enter your company's zip code. Leave blank if you don't have one.", data-trigger = 'manual')
				br
				.row
					.col-xs-12
						.input-group(id = 'company_video_gp')
							span.input-group-addon http://youtube.com/
							if (company && company.video != '')
								input.form-control(placeholder='company video', type='text', id = 'company_video', value = '#{company.video}')
							else	
								input.form-control(type='text', placeholder='company video', id = 'company_video', data-placement='right', data-container = 'body', data-content="Enter a link to a youtube video that presents your company. Leave blank if you don't have one.", data-trigger = 'manual')
				br
				.row
					.col-xs-12
						if (!company)
							button.btn.btn-default.pull-right(type='button', id = 'create_company') Create Company
				br
				.row
					.col-xs-12-f
						.alert.alert-block.alert-danger(style = "display:none;", id = 'missingfields')
							h4 Please fill in all required fields.
							p Company name, description, industry, email, founded, and country. 
			.col-xs-3.notifications
	include ../footer
	script(src='/js/entrepreneur/company.js')