!!! 5
html(lang='en')
head
	include ../head
body 
	include ../navbar
	.container
		.row
			.col-xs-2
				include side-navbar
			.col-xs-7
				.investment_list
					if (user)
						- var x;
						- for (x = 0; x < user.investments.length; x++)
							.row
								.col-xs-3
									.form-group(field='investment_image_gp', number='#{x}')
										img.img-rounded(src='data:image/png;base64,', data-src='holder.js/125x100', alt='Generic placeholder image', number = '#{x}')
								.col-xs-9
									.form-group(field='investment_name_gp', number='#{x}', pending = '#{user.investments[x].pending}')
										input.form-control.investment-typeahead(value='', field = 'investment_name', number = '#{x}', disabled = 'disabled', investment_id = '#{user.investments[x].id}')
									.row
										.col-xs-6
											.input-group(field='investment_contribution_gp', number='#{x}')
												span.input-group-addon $
												input.form-control(type='text', value = '#{user.investments[x].contribution}', field = 'investment_contribution', number = '#{x}')
										.col-xs-6
											.row
												.col-xs-7
													.input-group(field='investment_equity_gp', number='#{x}')
														input.form-control(type='text', value = '#{user.investments[x].equity}', field = 'investment_equity', number = '#{x}')
														span.input-group-addon %
												.col-xs-5
													button.btn.btn-default.pull-right.go(number = '#{x}') Go!
									br
									if (user.investments[x].pending == 1)
										b.text-warning APPROVAL PENDING
									else 
										b.text-success APPROVED
							br 
				button.btn.btn-default.btn-lg.btn-block(type='button', id = 'create_new_investment', index = '#{x}') New Company
			.col-xs-3.notifications
		.overlay
			.overlay-message
				.container
					br
					form
						p Please confirm 
							b.person person
							|  has invested $
							b.contribution contribution
							|  for  
							b.equity x
							| % equity in 
							b.company company
							| . Once 
							b.company company
							| 's owner confirms this legal statement is valid, 
							b.person person
							|  will be added to 
							b.company company
							| 's investors and 
							b.company company
							|  will be added to 
							b.person person
							| 's investments.
						br
						.btn.btn-default(id = 'submit') Confirm
						.btn.btn-default(id = 'cancel') Cancel
						br
						br
						.alert.alert-block.alert-danger(style = "display:none;", id = 'check_notifications')
							p Check your notifications. There is already a request to you from the other party. Respond to that first.
	include ../footer
	script(src='/js/investor/my_equity.js')