!!! 5
html(lang='en')
head
	include ../head
body 
	include ../navbar
	.container
		.row
			.col-xs-2
				include side-navbar
			.col-xs-7
				.company_list
					if (user)
						- var x;
						- for (x = 0; x < user.equity_partnerships.length; x++)
							.row
								.col-xs-3
									.form-group(field = 'company_image_gp', number = '#{x}')
										img.img-rounded(src='data:image/png;base64,', data-src='holder.js/125x100', alt='Generic placeholder image', number = '#{x}')
								.col-xs-9
									.form-group(field = 'company_name_gp', number = '#{x}', pending = '#{user.equity_partnerships[x].pending}')
										input.form-control.company-typeahead(value='', field = 'company_name', number = '#{x}', disabled = 'disabled', company_id = '#{user.equity_partnerships[x].id}')
									.row
										.col-xs-6
											.form-group(field = 'company_job_gp', number = '#{x}')
												input.form-control(type='text', value = '#{user.equity_partnerships[x].job}', field = 'company_job', number = '#{x}')
										.col-xs-6
											.input-group(field = 'company_equity_gp', number = '#{x}')
												input.form-control(type='text', value = '#{user.equity_partnerships[x].equity}', field = 'company_equity', number = '#{x}')
												span.input-group-addon %
									if (user.equity_partnerships[x].pending == 1)
										b.text-warning APPROVAL PENDING
									else 
										b.text-success APPROVED
							br 
				button.btn.btn-default.btn-lg.btn-block(type='button', id = 'create_new_company', index = '#{x}') New Company
			.col-xs-3.notifications
		.overlay
			.overlay-message
				.container
					br
					form
						p Please upload a PDF of a legal statement confirming 
							b.person person
							|  works as 
							b.job job
							|  for  
							b.equity x
							| % equity in 
							b.company company
							| . Once 
							b.company company
							| 's owner confirms this legal statement is valid, 
							b.person person
							|  will be added to 
							b.company company
							| 's team and 
							b.company company
							|  will be added to 
							b.person person
							| 's equity partnerships.
						input.form-control(type='file', id='file')
						br
						.btn.btn-default(id = 'submit') Submit
						.btn.btn-default(id = 'cancel') Cancel
						br
						br
						.alert.alert-block.alert-danger(style = "display:none;", id = 'check_notifications')
							p Check your notifications. There is already a request to you from the other party. Respond to that first.
	include ../footer
	script(src='/js/equity_partner/my_companies.js')